body{
  background-color: rgba(158, 158, 228, 0.288);
  margin:0;
  height:100%;
}

h1{
  background-color: rgb(192, 16, 16);
  color:lightgray;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h2{
  color:rgb(45, 114, 27);
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 1cm;
}

h3{
  color:rgb(116, 27, 189);
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 1cm;
}

h4{
  color:rgb(153, 23, 120);
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

p{
  color:rgb(0, 0, 0);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  text-indent: 1cm;
}

li{
  color:rgb(0, 0, 0);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

article{
  color:rgb(0, 0, 0);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

div#iletisim{
  width: 1346px;
  height: 925px;
  margin: auto;
  border:50px solid transparent;
  border-radius: 25px;
  border-image: url(cicek.jpg);
  border-image-slice: 300;
  border-image-repeat: repeat;
  color:rgb(0, 0, 0);
  text-align: center;
}

table#sehir{
  color:rgb(0, 0, 0);
  width: 100%;
  border-collapse: collapse;
}

th {
  height: 70px;
}

table#egitim{
  color:rgb(0, 0, 0);
  border: black;
}

table#kurTablosu{
  color: rgb(222, 230, 228);
}

a{
  color:rgba(255, 0, 0, 0.781);
}

table.kurName{
  color: rgb(222, 230, 228);
}

iframe.video{
  width: 100%;
  height: 50%;
  border: 1px #cccccc solid;
}

div#login{
  color:rgb(0, 0, 0);
}

div#iletisimYanit{
  color:rgb(0, 0, 0);
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  padding:15px;
  background-color: rgb(255, 255, 255);
}

figure{
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
}

figcaption {
  color:rgb(0, 0, 0);
  padding: 3px;
  text-align: center;
}

div.resimTanitim {
  padding: 40px;
  text-align: center;
}

div.resim {
  margin: 20px;
  float: left;
  width: 180px;
}

div.resim img {
  width: 100%;
  height: auto;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}